* {
    box-sizing: border-box;
}

body {
    background-color:#FB6B6B;
}

/*Estilos primeira tela*/
.firstPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstPage p {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
}

.firstPage img{
    width: 136px;
    height: 161px;
}

.firstPage button{
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
    width: 246px;
    height: 54px;
}

.subFirstPage{
    margin-bottom: 73px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Estilos tela perguntas*/
.secondPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondPage p{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.subsecondPage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 41px;
    width: calc(0.68*100vw);
}

.subsecondPage img{
    width: 52px;
    height: 60px;
}

.questionsSecondPage {
    /*overflow-y: scroll;*/
    margin-bottom: 70px;
}

.questionsPageTwo {
    margin-bottom: 5px;
}

.questionsPageTwo  button{
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 300px;
    height: 65px;
    cursor: pointer;
}

.questionsPageTwo li{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionsPageTwo ion-icon {
    width: 20px;
    height: 23px;
    color:#333333;
}


.questionBlock {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questionBlock button{
    position: absolute;
	right: 10px;
	bottom: 5px;
    width: 30px;
    height: 20px;
    border:none;
}

.questionBlock button img{
    width: 30px;
    height: 20px;
}

.questionBlock li{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-left: 6px;
}

.rememberOptions{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rememberOptions button{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.rememberOptions button:first-child{
    width: 85.17px;
    height: 37.17px;
    background: #FF3030;
    border-radius: 5px;
    position: relative;
    right: auto;
    bottom: auto;
}

.rememberOptions button:nth-child(2){
    width: 85.17px;
    height: 37.17px;
    background: #FF922E;
    border-radius: 5px;
    position: relative;
    right: auto;
    bottom: auto;
}

.rememberOptions button:last-child{
    width: 85.17px;
    height: 37.17px;
    background: #2FBE34;
    border-radius: 5px;
    position: relative;
    right: auto;
    bottom: auto;
}

.questionsPageTwo.red li{
    color: #FF3030;
    text-decoration: line-through;
}

.questionsPageTwo.yellow li{
    color:  #FF922E;;
    text-decoration: line-through;
}

.questionsPageTwo.green li{
    color: #2FBE34;;
    text-decoration: line-through;
}

.questionsPageTwo img {
    width: 23px;
    height: 23px;
}

/*Estilos Footer*/

.footerStyle {
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerCSS {
    height: 244px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer span{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer button{
    width: 167px;
    height: 32px;
    background: #FB6B6B;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF
}

footer img{
    width: 23px;
    height: 23px;
}

/*Estilo telas maiores*/

@media (min-width: 800px) {

    .subsecondPage img{
        min-width: 86px;
        min-height: 100px;
    }

    .secondPage p{
        font-size: 64px;
        line-height: 79px;
    }

    .questionsPageTwo  button{
        width: calc(0.36*100vw);
    }

    .questionBlock {
        width: calc(0.36*100vw);
    }

    .rememberOptions button:first-child{
        width: calc(0.36*0.28*100vw);
    }

    .rememberOptions button:nth-child(2){
        width: calc(0.36*0.28*100vw);
    }

    .rememberOptions button:last-child{
        width: calc(0.36*0.28*100vw);
    }
}